*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none    ;
}
nav{
    height:80px;
    width: 100%;
    background-color: white;
    box-shadow: 5px 5px 10px rgb(222, 226, 227);
    display: flex;
    justify-content: space-around;
}
nav li{
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}
nav a{
    color: black;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border:1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}
.nav-ul-li-1 a{
    border:1px solid rgb(239, 214, 168);
    padding: 7px 10px;
    border-radius:80%;
}
.nav-ul-li-2 a{
    border:1px solid rgb(239, 214, 168);
    padding: 5px 5px;
    border-radius:100px;
    background-color: rgb(227, 200, 151);
}
.nav-ul-li-1 span{
    font-size: 50px;
    color: rgb(43, 213, 43);
    line-height: 0px;
    position: absolute;
    margin-left: -10px;
    margin-top: -16px; 
}
nav a:hover{
    border: 2px solid rgb(16, 12, 67);
    transition: .5s;
}
nav .nav-menu{
   margin: auto;
    font-size: 30px;
    display: none;
}
.nav-li-h{
    display: none;
}
.checkbox{
    display: none;
}
.section1{
    height:483px;
    width: 100%;
    background-color: rgb(253, 250, 245);
    display: flex;
    justify-content: space-around;
    font-family:sans-serif;
}
.section1 h1{
    font-size: 50px;
    margin-top: 10%;
    font-weight: 500;
}
.section1-block1{
    width: 60%;
    margin-left: 12%;
}
.section2-block2{
    width: 40%;
}
.section1 img{
    height: 60%;
    margin-top: 15%;
}
.section1 p{
    margin-top: 5%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.section1 button{
    margin-top: 3%;
    width: 25%;
    height: 8%;
    border: 1px solid rgb(212, 170, 107);
    border-radius: 100px;
    display: flex;
    background-image: linear-gradient(to right, rgb(227, 182, 167) , rgb(237, 190, 181), rgb(244, 217, 200));
}
.section1 button p{
    margin: 6% 0px 0px 18px;
    font-size: 13px;  
    font-weight: 600;
}
.section1 span{
    margin: 5px 0px 0px 13px;
    font-size: 24px;
    
}
.section2{
    width: 100%;
    height:350px;
    display: flex;
}
.section2-block1{
    width: 60%;
    display: flex;
    flex-direction: column;
}
.section2-block1 h2{
   width: 50%;
   margin: 50px auto 0px 15%;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
}
.section2-block1 p{
    width: 70%;
    margin:20px 15%;
    flex-wrap: wrap;
    font-size: 15px; 
    font-family:Arial, Helvetica, sans-serif;
    color: gray;
 }
.section2-block2 img{
    width: 60%;
    height:300px;
    margin:60px;
   border-radius: 500%; 
}
.section2-block1-row3{
        width: 100%;
        height: 20%;
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
        margin-left: 5%;
}
.section2-block1-row3-items{
    width: 25%;
    height: 100%;
    display:inline-flex;
}
.section2-block1-row3-items img{
    width: 40%;
    height: 100%;
    border: 1px solid gray;
    border-radius: 90%;
}

.section2-block1-row3-items p{
    color: black;
    width: 100px;
    height: 100%;
    font-size: 15px;
    margin-left: -0px;
    margin-top: -0px;
    margin-right: -0px;
    margin-left: 12px;
    line-height: 16px;
    font-weight: 500; 
    margin-top: 10px; 
}
@media (max-width: 300px) {
    nav img{
        margin-top: 10px;   
    }
    .section1 h1{
        font-size: 30px;
    }
    section img{
        display: none;
    }
    .section1-p1{
        display: none;
    }
    .section1 button{
        margin-top: 25px;
        width:100%;
    }
   
}
@media (max-width: 500px) {
    .nav-bell .nav-li-h{
        display: inline-block;
    }
    .nav-li-h{
    display: block;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    }
    nav .nav-menu{
        display: block;
        z-index: 1;
    }
    nav ul{
        display: none;
    }
    nav {
      width: 100%;
      height: 80px; 
      display:grid; 
      grid-template-columns: 35% 65%;
      grid-template-rows:80px 80px 50px;
      row-gap: 5px;
    }
    .nav-logo-img{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .nav-menu{
       grid-column: 2/3;
       grid-row: 1/2;
    }
    nav img{
        width:70%;
        padding: 5%;
    }
    nav li{
        display: block;
        line-height: 40px;   
    }
    .nav-ul-li-1 a{
        border-bottom: 1px solid transparent;
        border-radius:2px;
        background-color: rgb(237, 227, 210);
    }
    .nav-ul-li-2 a{
        border-radius:5px;
        background-color: rgb(237, 227, 210);
    }
    .nav-ul-li-3 a{
        background-color: rgb(237, 227, 210);
    }
    .nav-stage-300{
        height: 20%;
        grid-column:2/3 ;
       grid-row:2/3;
    }
    .nav-stage-400{
        height: 35%;
        grid-column:2/3 ;
        grid-row:3/4 ;
    }
    .checkbox{
        display:block ;
        grid-column:2/3 ;
        grid-row: 1/2;
        opacity: 0;
        z-index: 2;
        height: 40px;
        margin-top: 20px;
    }
    .section1 h1{
        font-size: 18px;
    }
    .section1 img{
        display: none;
    }
    .section1-p1{
        display: none;
    } 
   .section2-block2 img{
    display: none;
   } 
   .section2-block1{
    width: 100%;
   }
   .section2-block1-row3{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
   }
   .section2-block1-row3-items{
    margin-left: 10%;
    width: 80%;
    height: 25%;
    flex-direction: row;    
   }
   .section2-block1-row3-items p{
        width: 100%;
        height: 100%;
        font-size: 40px;
        margin-top: 20%;
        flex-wrap: wrap;
   }
}
@media (max-width:800px){
    .section1 img{
        display: none;
    }
    .section1 h1{
        font-size: 37px;
        margin-top: 10%;
    }
    .section1-p1{
        display: none;
    }
    .section2-block2 img{
        display: none;
       } 
    .section2-block1{
        width: 100%;
       }
    .section2-block1 h2{
        width: 100%;
        margin-left: 25%;
        flex-wrap: wrap;
    }
    .section2-block1 p{
        width: 100%;
        margin-left: 25%;
        flex-wrap: wrap;
    }
    .section2-block1-row3{
        margin-left: 18%;
        
    }
    .section2-block1-row3{
        width: 100%;
        display: flex;
        justify-content:space-between;
    }
    .section2-block1-row3 p{
        width: 100%; 
        margin-left:-0;
        margin-right:-0;
        margin-top:-0;
        margin-left: 10%;
        flex-wrap: wrap;
        font-size: 13px;
    }
    .section2-block1-row3 img{
        width: 31%;
        height: 100%;
    }
}
@media (max-width:1100px){
    .nav-ul-stage-600{
        display: none;
        z-index: 2;
    }
    .section1 button{
        width: 30%;
        width: 200px;
    }
    .section1-p1{
        display: none;
    }

    
}



